**/node_modules/
**/dist/
*.tsbuildinfo
*.log
/xiaolanhe

deploy/postgres/data/
deploy/redis/data/
deploy/minio/data/
deploy/rocketmq/logs/
deploy/rocketmq/store/
deploy/

.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
